// Place all the styles related to the podcasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background-color:rgba(0,0,0,.7);
	margin:0px;
}

#duration-distance,fieldset{
	display: none;
}
#directions{
	width: 275px;
	height:400px;
	overflow:scroll;
	display: inline-block;
	display: none;
}

#logo {
	display:inline-block;
	padding-left: 15px;
	padding-top: 10px;
	// background-color:red;
	width:25%;
	margin:0px;
}

#nav-form{
		width:70%;
		// background-color:yellow;
		display:inline-block;
	}

nav{
	// float:right;
	text-align: center;
	width:100%;
	ul{
		width:70%;
		margin:0px;
		// background-color:yellow;
		// margin-top: 100px;
		padding:0;
		margin-bottom: 20px;

		li{
			// background-color:orange;
			margin:0px;
			display:inline;
			margin-left: 4%;
			margin-right:4%;

		}
	}
}

	

	
// #sidebar{
// 	// background-color:red;
// 	width:30%;
// 	height:800px;
// 	display:inline-block;
// 	margin:0px;
// }

// The User Input start and End form
#startEnd{
	margin:0px;
	margin-left:8%;
	button{
		margin-left: 5%;
	}

}

// End User Input Start And End Form
#direction-genre{
	width:100%;
	height:800px;
	// float:right;
	#maps-directions-bar{
		// background-color:orange;
		width:100%;
		height:480px;
	}
	#map{
		display: inline-block;
		margin-top: 25px;
		margin-left: 30%;
		border:solid black 2px;
		border-radius: 11px;
		background-color: rgba(255,90,0,.5);
		// background-image: url("Worldmap.png");
		// background-repeat:no-repeat;
		// background-size:cover;
	}
	#duration-distance{
		text-align: center;
		color: #ff5a00;
		#duration{
			height:10px;
			display:block;
		}
		#distance{
			height:10px;
			display:block;
		}
	}
	#genre-bar{
		// background-color:green;
		width:100%;
		height:190px;
		position: relative;
		top: 75px;
		button{
			margin-left: 47.5%;
			margin-top: 10px;
			margin-bottom: 10px;
		}
			form{
				display:block;
				color: #ff5a00;
				fieldset{
					width:40%;
					margin-left: auto;
					margin-right: auto;
					border-radius: 11px;
					legend {
						text-align: center;
					}
				.genre_alignment {
					text-align: left;
					display: inline-block;
					.submit {
					margin-top: 10px;
					margin-bottom: 10px;
					}

				}
			}
		}
	}
}