// Place all the styles related to the podcasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// color for orange #ff5a00
body{
	background-color:rgba(0,0,0,.7);
	margin:0px;
}
.icons{
	width:30px;
	height:30px;
}
.icons:hover{
	transform:scale(1.1);
	border: solid #ff5a00 1px;
	border-radius: 10px;
	padding:4px;
}

.selected{
	opacity:0.3;
}

#mode{
	display: none
}

#duration-distance,fieldset{
	display: none;
}

#directions{
	background-color:rgba(250,250,250,.8);
	width: 275px;
	height:400px;
	overflow:scroll;
	display: inline-block;
	display: none;
	border-radius:10px;
}

#logo {
	display:inline-block;
	padding-left: 15px;
	padding-top: 10px;
	width:25%;
	margin:0px;

}

#nav-form{
		width:70%;
		display:inline-block;
	}

nav{
	text-align: center;
	width:100%;
	ul{
		width:70%;
		margin:0px;
		padding:0;
		margin-bottom: 20px;

		li{
			margin:0px;
			display:inline;
			margin-left: 4%;
			margin-right:4%;

		}
	}
}

	
// The User Input start and End form
#startEnd{
	margin:0px;
	margin-left:6%;
	color:white;
	input {
		border-radius: 5px;
	}
	button{
		margin-left: 20px;
		cursor: pointer;
	}

}
// End User Input Start And End Form

#direction-genre{
	width:100%;
	height:800px;
	// float:right;
	#maps-directions-bar{
		// background-color:orange;
		width:100%;
		height:480px;
	}
	#map{
		display: inline-block;
		margin-top: 25px;
		margin-left: 30%;
		border:solid black 2px;
		border-radius: 11px;
		background-color: rgba(255,90,0,.5);
	}
	#duration-distance{
		text-align: center;
		color:white ;
		#duration{
			height:10px;
			display:block;
		}
		#distance{
			height:10px;
			display:block;
		}
	}
	#genre-bar{
		// background-color:green;
		width:100%;
		height:190px;
		position: relative;
		top: 75px;
		button{
			margin-left: 47.5%;
			margin-top: 10px;
			margin-bottom: 10px;
		}
			form{
				display:block;
				color: white;
				fieldset{
					width:40%;
					margin-left: auto;
					margin-right: auto;
					border-radius: 11px;
					legend {
						text-align: center;
					}
				.genre_alignment {
					text-align: left;
					display: inline-block;
					.submit {
					margin-top: 10px;
					margin-bottom: 10px;
					}

				}
			}
		}
	}
}

// .adp-placemark, .adp-substep, .adp-agencies, .adp-warnbox, .adp-summary{
// 	padding-left:20px;
// 	padding-right:20px;
// }