body {
	background-color:rgba(0,0,0,.7);
	font-family: 'Questrial', sans-serif;
	#logo {
		padding-left: 15px;
		padding-top: 10px;
		}
	#center-me, #match {
		color: white;	
		// font-family: 'Questrial', sans-serif;
		text-align: center;
		}

	.podcasts {
		width: 790px;
		height: 400px;
		border: 1px solid;
		border-radius: 10px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
}