   <div>
      <h1>BOUND</h1>
         <div class="logo">
         <%= image_tag "bound-logo.png"  %>
         </div>
   </div>
<!-- <div id="sidebar">
</div> -->
<div id="direction-genre">
   <div id="maps-directions-bar">
      <div id="map" style="width: 500px; height: 400px;"></div>
      <div id="directions-form"></div>
      <div id="duration-distance"> </div>
      <p id="duration"> Duration: </p> 
      <p id="distance">Distance: </p> 
   </div>
   <div id="genre-bar">
         <button id="bound_butt"> bound!</button>
      <form action="index" method="get">
         <fieldset>
            <legend>What would you like to listen to?</legend>
            <div class="genre_alignment">
               <input type="hidden" name="durax" value="NARNAR">
                <br>
               <input type="checkbox" name="Arts">Arts
               <input type="checkbox" name="Comedy">Comedy
               <input type="checkbox" name="Games & Hobbies">Games & Hobbies
            <br>
            </div>

            <div class="genre_alignment">
            <input type="checkbox" name="Religion & Spirituality"> Religion & Spirituality
            <input type="checkbox" name="Science & Medicine"> Science & Medicine
            <input type="checkbox" name="Sports & Recreation"> Sports & Recreation
            <br>
            </div>

            <div class="genre_alignment">
            <input type="checkbox" name="Technology"> Technology
            <input type="checkbox" name="TV & Film"> TV & Film
            <input type="checkbox" name="Music"> Music
               <br>
            <input type="submit" value="Submit" class="submit">
            </div>
         </fieldset>
      </form>
   </div>
</div>

  <!--   

   

   

   <form action= "" method="get">
   	<input type="checkbox" name="genre-sports" value="Sports">Sports
   	<br>
   	<input type="checkbox" name="genre-basketball" value="Basketball">Basketball
   	<br>
   	<input type="checkbox" name="genre-music" value="Music">MuSic
   	<br>
   	<input type="checkbox" name="genre-stories" value="Stories">Stories
   	<br>
   	<input type="submit" value="Submit">
   </form> -->

