<h1>Plan your Trip</h1>
<!-- <p>Find me in app/views/podcasts/index.html.erb</p> -->


   <div id="duration">Duration: </div> 
   <div id="distance">Distance: </div> 
   <div id="map" style="width: 600px; height: 500px;"></div> 

<br>

<form action="index" method="get">
	<fieldset>
		<legend>What would you like to listen to?</legend> <br>

		<input type="checkbox" name="Arts">Arts
		<input type="checkbox" name="Comedy">Comedy
		<input type="checkbox" name="Games & Hobbies">Games & Hobbies
		<input type="checkbox" name="Religion & Spirituality"> Religion & Spirituality
		<input type="checkbox" name="Science & Medicine"> Science & Medicine
		<input type="checkbox" name="Sports & Recreation"> Sports & Recreation
		<input type="checkbox" name="Technology"> Technology
		<input type="checkbox" name="TV & Film"> TV & Film
			<br>
		<input type="submit" value="Submit" class="submit">
	</fieldset>
</form>