<h1>Podcasts#index</h1>
<p>Find me in app/views/podcasts/index.html.erb</p>


<!-- <a href=><img src="http://www.menucool.com/slider/jsImgSlider/images/image-slider-2.jpg"></a> -->
   <div id="duration">Duration: </div> 
   <div id="distance">Distance: </div> 
   <div id="map" style="width: 600px; height: 500px;"></div> 



