<h1>BOUND</h1>
<!-- <a href=><img src="http://www.menucool.com/slider/jsImgSlider/images/image-slider-2.jpg"></a> -->
<div id="sidebar">
</div>
<div id="direction-genre">
   <div id="maps-directions-bar">
      <div id="map" style="width: 400px; height: 300px;"></div>
      <div id="directions-form"></div>
      <div id="duration-distance"> </div>
      <p id="duration">Duration: </p> 
      <p id="distance">Distance: </p> 
   </div>
   <div id="genre-bar">
   </div>
</div>

  <!--   

   

   

   <form action= "" method="get">
   	<input type="checkbox" name="genre-sports" value="Sports">Sports
   	<br>
   	<input type="checkbox" name="genre-basketball" value="Basketball">Basketball
   	<br>
   	<input type="checkbox" name="genre-music" value="Music">MuSic
   	<br>
   	<input type="checkbox" name="genre-stories" value="Stories">Stories
   	<br>
   	<input type="submit" value="Submit">
   </form> -->



