<h1>Choose which podcasts to enjoy</h1>


<div>
	<form action= "index" method="get">
		<fieldset>
	   	<input type="checkbox" name="genre-sports" value="Arts">Arts
	   	<br>
	   	<input type="checkbox" name="genre-basketball" value="Comedy">Comedy
	   	<br>
	   	<input type="checkbox" name="genre-music" value="Games & Hobbies">Games & Hobbies
	   	<br>
	   	<input type="checkbox" name="genre-stories" value="Religion & Spirituality">Religion & Spirituality
	   	<br>
	   	<input type="checkbox" name="genre-stories" value="Science & Medicine">Science & Medicine

	   	<input type="checkbox" name="genre-stories" value="Sports & Recreation">Sports & Recreation

	   	<input type="checkbox" name="genre-stories" value="Technology">Technology

	   	<input type="checkbox" name="genre-stories" value="TV & Film">TV/Film

	   	<input type="submit" value="Submit">
	   	</fieldset>	
   </form>
</div>

